html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

* {
  font-family: Lato, sans-serif ;
}

.navbar {
  background-color: #0b9c12;
}

body {
  margin-bottom: 60px;
  background-image: url("../img/ac-grass-tile.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

#pg-body {
  background-color: white;
  border-radius: 25px;
}

.info-btn {
  font-size: 16px;
  color: #fafbfc;
  background-color: #198754;
  text-decoration: none;
  padding:0.4em 1em;
  border-radius: 8px;
  transition: all .5s ease-in-out;
}

.info-btn:hover {
  transform: scale(1.1);
  opacity: 0.8;
  text-decoration: none;
}

.info-btn:active {
  opacity: 0.5;
}

.info-btn:focus {
  outline: none;
}

footer {
  background: #0b9c12;
  color: white;
}