html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

* {
  font-family: Lato, sans-serif;
}

.navbar {
  background-color: #0b9c12;
}

h2 {
  padding-top: 1rem;
}

body {
  margin-bottom: 60px;
}