@using ACNHBugGuide.Models
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>ACNH Bug Guide</h1>
<table class="table">
    <tr>
        <th>Image</th>
        <th>Name</th>
    </tr>
    
    @foreach (var bug in Model.Bugs.OrderBy(x => x.Name.NameUSen))
    {
        <tr>
            <td><img src="@bug.IconUri" alt="@bug.Name.NameUSen" style="height: 64px"/></td>
            <td>@bug.Name.NameUSen</td>
        </tr>
    }

</table> 